{:paths ["src"]
 :deps {
        io.github.kotoba-lang/string-java-whitespace
        {:git/url "https://github.com/kotoba-lang/string-java-whitespace.git"
         :git/sha "7804cf952f6cc6b6b2d095da11cd35bd9a5731f1"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
